.body {
display: flex; flex-direction: column; align-items: center; font-family: Arial, sans-serif; margin: 0; padding: 0; }
}

#logo {
    flex: auto;
    width: 40%;
    height: auto;
    margin-left: 70%;
}

#map {
    flex: auto;
    width: 80%;
    height: auto;
    margin-left: 10%;
}

#about {
    flex: auto;
    align-items: center;
    margin-left: 70%;
}
