.body {
display: flex-box; 
flex-direction: column; 
align-items: center; 
font-family: Arial, sans-serif; 
margin: 0; padding: 0;
}

#logo {
    width: 40%;
    height: auto;
    margin-left: 60%;
}


#about {
    flex: auto;
    align-items: center;
    margin-left: 60%;
    font-family: monospace;
    font-size: 32px;
}

#map {
flex: 1; 
align-items: center; 
margin-left: 5%;
padding-top: 10%;
}

.contact {
    margin-left: 5%;

}
